.carouselModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6, 6, 6, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 100;
  }
  
  .carouselModal.enter-done {
    opacity: 1;
    pointer-events: visible;
  }
  
  .carouselModal.exit {
    opacity: 0;
  }
  
  .carouselModal-content {
      position: absolute;
      top: 20%;
      width: 98.5%;
    max-width: 500px;
    background-color: #E0FAF8;
    color: var(--cyan);
    font-family: "Axiforma", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 0.8125rem;
line-height: 1.615;
padding: .5rem .35rem .8rem;

    transition: all 0.3s ease-in-out;
    /* transform: translateY(200px); */
    border: 1px solid var(--lemon);
    border-radius: 7px;
  }

  .carouselModal.enter-done .carouselModal-content {
    transform: translateY(0);
  }
  
  .carouselModal.exit .carouselModal-content {
    transform: translateY(0);
  }
  
  .carouselModal-header {
    padding: 0 .5rem .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "AxiformaBlack", sans-serif;
font-style: normal;
font-weight: normal;
font-size: .65rem;
line-height: 1.667;
color: var(--button-lemon);
  }

  .carouselModal-header .closeModal{
    position: static;
  }
  .modal-content .carouselModal-header p.carouselModal-indicator{
    margin-bottom: 0;
  }

  /* .modal-footer{
padding: 2.8125rem 1.5rem 3.6875rem;
  }
  
  .modal-title {
    margin: 0;
  } */
  
  .carouselModal-body {
    /* padding: 0 30px; */
    position: relative;
  }
  
  .carouselModal-body img{
    object-fit: contain;
    width: 100%;
    border: 1px solid var(--button-lemon);
    /* height: 191px; */
  }

  .carouselModal-body .leftArr{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: .7rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  /* .carouselModal-body .leftArr svg{
    width: .75rem;
  } */
  .carouselModal-body .leftArr svg .str0 {
    stroke:#00D0BE;
    stroke-width:0.41;
    stroke-miterlimit:22.9256
  }
  
  .carouselModal-body .leftArr svg .fil0 {fill:white;fill-rule:nonzero}


  .carouselModal-body .rightArr{
    position: absolute;
    z-index: 1;
    top: 50%;
    right: .7rem;
    transform: translateY(-50%);
    cursor: pointer;
  }

  /* .carouselModal-body .rightArr svg{
    width: .75rem;
  } */

  .carouselModal-body .rightArr svg .str0 {stroke:#00D0BE;stroke-width:40;stroke-miterlimit:22.9256}
  
  .carouselModal-body .rightArr svg .fil0 {fill:white;fill-rule:nonzero}

  .carouselModal-caption{
    text-align: center;
    font-family: "AxiformaMedium", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--cyan);
  padding: .2rem 0;
  }

  .closeModal{
/* position: absolute;
top: 1.8125rem;
right: 1.8125rem; */
height: fit-content;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  @media screen and (min-width: 650px) {
    .carouselModal-content {
      position: relative;
      top: auto;
    }
  }
  