.question_options{
    font-family: "AxiformaMedium", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.844rem;
    line-height: 1.57;
    color: var(--cyan);
    min-height: 271px;
    height: 294px;
    padding: 0.4375rem 3.5rem 0 2.625rem;
    }
    
    .radio label{
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.875rem;
    }

    .radio:last-child, .radio:last-child label {
        margin-bottom: auto;
    }
    
    .radio input{
        accent-color: var(--cyan);
        height: 1rem;
        width: 1rem;
        /* padding-top: 0.5rem; */
    }
    
    /* Custom radio */
    /* pretty radio */
    .radio label::before{       
        box-sizing: border-box;
        margin-right: 0.84375rem;
        flex-shrink: 0;
    }
    .radio > input[type="radio"] {
        display: none;
      }
      .radio > input[type="radio"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;    
        box-sizing: border-box;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border-style: solid;
        border-width: 1.5px;
        border-color: var(--cyan);
      }
      .radio > input[type="radio"]:checked + * {
        color: teal;
      }
      .radio > input[type="radio"]:checked + *::before {
        background: radial-gradient(var(--lemon) 0%, var(--lemon) 40%, transparent 50%, transparent);
        border-color: var(--lemon);        
        border-width: 2px; 
      }