.questionIndicators{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.questionIndicator{
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--scroll-bar);
    margin-left: 5px;
    cursor: pointer;
}

.questionIndicator.active{
    background-color: var(--cyan);
}