.questionIndicators{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.questionIndicator{
    width: 30px;
    height: 4.9px;
    border-radius: 2px;
    background-color: var(--scroll-bar);
    margin-left: 13px;
    cursor: pointer;
}

.questionIndicator.unVisited{
    pointer-events: none;
    background-color: #C6F6F2;
}

.questionIndicator.active{
    background-color: var(--cyan);
}