.header{
    padding: 0 1.625rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffffff;
    /* height: 85px; */
}

.header_title{
    font-family: "AxiformaExtraBold", sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 1.375rem;
line-height: 1.68;
color: black;
}
.header_instruction{
    font-family: "AxiformaSemiBold", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 0.6875rem;
line-height: 1.636;
padding: 12px 1.625rem 1.375rem;
color: #003333;
height: 70px;
/* margin-top: 12px; */
}