.imageCarousel{
    flex: 1;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 162px;
    overflow: hidden;
    width: 256px;
}

.imageCarousel .inner{
    white-space: nowrap;
    transition: transform 0.3s;
}

.imageCarousel .imageContainer{
    width: 100%;
    height: 162px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.imageCarousel img{
    object-fit: contain;
    height: 162px;
}