.question{
    position: relative;
    font-family: "AxiformaBold", sans-serif;
    padding: 10px var(--padding-mobile-med) 14px 0;
    margin-left: 44px;
    font-style: normal;
    font-weight: normal;
font-size: 0.90625rem;
line-height: 1.655;
/* height: 83px; */

    /* margin-bottom: 1rem; */
}

.question_marker{
    position: absolute;
    top: 10px;
    left: -1rem;
    color: var(--cyan);
    font-style: normal;
    font-weight: 700;
font-size: 0.90625rem;
line-height: 1.655;
}

