* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root{
  --lemon: #82ECD3;
  --cyan: #006E72;
  --padding-mobile-reg: 1rem;
  --padding-mobile-med: 1.5rem;
  --skin-height: 568px;
  --button-lemon: #00D0BE;
  --button-cyan: #006E72;
  --scroll-bar: #17E7B3;
  --question-height: 71;
}


/* Fonts */
@font-face {
  font-family: "AxiformaBook";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: "AxiformaLight";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: "AxiformaRegular";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: "AxiformaMedium";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-Medium.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
  }
@font-face {
  font-family: "AxiformaSemiBold";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-SemiBold.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
  }
@font-face {
  font-family: "AxiformaBold";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-Bold.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
  }
@font-face {
  font-family: "AxiformaExtraBold";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-ExtraBold.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
  }
@font-face {
  font-family: "AxiformaBlack";
  src: local("Axiforma"),
   url("./assets/fonts/Axiforma/Axiforma-Black.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
  }
